
/* elements */
body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: #fff;
  margin: 0;
}

p {
  font-size: 1rem;
}


/* containers */
.bg-img {
  background-image: url("images/background.jpg");
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #0d0a19;
}
.main-container {
  padding: 1.25rem 4rem;
}

@property --angle {
 syntax: '<angle>';
 initial-value: 0deg;
 inherits: false;
}

.rules-col {
  padding-bottom: 0px;
  background: #111845a6;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  padding: 20px 20px 5px;
  line-height: 2;
  text-align: justify;
  border: solid 0.5rem;
  border-image: linear-gradient(var(--angle), turquoise, #fd1d1d, greenyellow) 1;
  animation: 10s rotate linear infinite;
}

@keyframes rotate {
 to {
   --angle: 360deg;
 }
}

.games-col {
  padding-right: 30px;
  padding-left: 30px;

}

.mobile-header {
  display: none;
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  left: 50%;
  top: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.sound-label {
  position: absolute;
  right: 40px;
}

/* rules section */
.sub-title {
  padding-bottom: 20px;
  color: crimson;
}

.rule-list {
  padding-bottom: 10px;
  color:#00ffe9
}


/* game section */
.game-col {
  padding: 15px 30px;
}

.game-btns {
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
  margin: 1.2rem 0.9rem;
  border: solid 0.5rem #00ffe9;
}

.game-btns:hover {
  box-shadow: 0 10px 20px #484848;
}

.game-btns:active {
  box-shadow: 0 2.5px 5px #484848;
  border-color: #fff;
}

.big-heading {
  margin-bottom: 35px;
  color: greenyellow;
  line-height: 1.5;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}


/* footer */
.acknowledgement {
  font-size: 0.3rem;
  color: grey;
}


/* media queries */
@media only screen and (max-width: 700px) {

  .mobile-header {
    display: block;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: darkorange;
  }

  .bg-img {
    background-image: url("images/bg-mobile.jpg");
  }

  .main-container {
    padding: 2.25rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }

  .rule-list {
    font-size: 0.82rem;
    text-align: right;
  }

  .rules-col {
    margin-bottom: 3rem;
  }

  .big-heading {
    font-size: 1.5rem;
  }

  .game-btns {
    width: 6rem;
    height: 6rem;
    border-radius: 1.5rem;
    margin: 0.8rem 0.2rem;
  }
}

/* js css */
.btn-click {
  box-shadow: 0 10px 20px #484848;
  border-color: #fff;
  background-color: #000;
}
